.UI_Popover.open .__boxContent {
  display: initial;
  position: absolute;
}
.UI_Popover.open .__mask {
  display: initial;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.UI_Popover .__boxContent,
.UI_Popover .__mask {
  display: none;
}
