.UI__Popover {
  &.open {
    .SLOT-Popover__popBox {
      display: initial;
      position: absolute;
    }
    .SLOT-Popover__mask {
      //不直观的约定意味着6个月后我自己也忘了当初写的代码是什么鬼啊（其实我现在已经有点忘了自己一个月前写的代码）
      display: initial;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 24;
      width: 100vw;
      height: 100vh;
    }
  }

  .SLOT-Popover__popBox,
  .SLOT-Popover__mask {
    display: none;
  }
}
