.UI__Popover.open .SLOT-Popover__popBox {
  display: initial;
  position: absolute;
}
.UI__Popover.open .SLOT-Popover__mask {
  display: initial;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.UI__Popover .SLOT-Popover__popBox,
.UI__Popover .SLOT-Popover__mask {
  display: none;
}
