.Popover .card {
  padding: 8px;
  background: white;
  border-radius: 8px;
  width: max-content;
}
.List ._item {
  list-style: none;
}
.Switch {
  position: relative;
  width: 42px;
  height: 20px;
}
.Switch ._background {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
}
.Switch ._toggle-handle {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 1000px;
  background: white;
  top: 1px;
  transition: left 0.2s ease;
}
.Switch.isOn ._background {
  background: dodgerblue;
}
.Switch.isOn ._toggle-handle {
  left: 23px;
}
.Switch.isOff ._background {
  background: gray;
}
.Switch.isOff ._toggle-handle {
  left: 1px;
}
