.Popover .card {
  padding: 8px;
  background: white;
  border-radius: 8px;
  width: max-content;
}

.List ._item {
  list-style: none;
}
.Switch {
  @toggle-header-radius: 9px;
  @toggle-gap-size: 1px;
  @switch-width: 42px;
  position: relative;
  width: @switch-width;
  height: 2 * (@toggle-header-radius + @toggle-gap-size);
  ._background {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
  }
  ._toggle-handle {
    position: absolute;
    height: @toggle-header-radius * 2;
    width: $height;
    border-radius: 1000px;
    background: white;
    top: @toggle-gap-size;
    transition: left 0.2s ease;
  }
  &.isOn {
    ._background {
      background: dodgerblue;
    }
    ._toggle-handle {
      left: @switch-width - 2 * @toggle-header-radius - @toggle-gap-size;
    }
  }
  &.isOff {
    ._background {
      background: gray;
    }
    ._toggle-handle {
      left: @toggle-gap-size;
    }
  }
}
